<div class="popup">
    @Data
    <button @onclick="Close">X</button>
</div>

@code {
    [Parameter] 
    public string Data { get; set; } = "";
    [Parameter] 
    public EventCallback OnClose { get; set; }
    [Parameter]
    public int DurationMilliseconds { get; set; } = 5000;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(DurationMilliseconds);
            await OnClose.InvokeAsync();
        }
    }
    void Close() => OnClose.InvokeAsync();
}